// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../../common/assets/styles/common';

html,
body {
  height: 100%;
  // padding: 0;
  // margin: 0;

  .mat-spinner {
    margin: auto;
  }

  .filler {
    flex: auto 1 1;
  }

  .mat-full-width {
    width: 100%;
  }

  .spread {
    margin: 2em;
  }
}
